@use "../../components/details";
@use '../../utilities/responsive';

.about {
    width: 100%;
    min-height: 500px;
    margin-bottom: 40px;

    // &__inner {
    //     // display: flex;
    //     // justify-content: space-between;
    //     // flex-direction: column;
    //     // align-items: center;
    //     // gap: var(--gap-s)
    //     // @include responsive.max(815px) {
    //     //     margin: 10px;
    //     // }
    // }
    
    &__header {
        margin: 2rem 0 0 0;
        text-align: center;
    }

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: var(--gap-m);

        @include responsive.max(56rem) {
            flex-direction: column;
        }

        &--card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin: 0;

            &_title {
                margin: 20px;
                color:black;
                @include details.separator($align: center);
            }

            // Manhaj
            &_manhaj {
                max-width: 470px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                margin: 0;

                &-item {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    margin: 12px;

                    @include responsive.max(56rem) {
                        margin: 4px;
                    }

                    & i {
                    font-size: 2rem;
                    margin: 10px;
                    }
                    & p {
                    font-size: 14px;
                    margin: 0px;
                    padding-left: 10px;
                    }
                }
            }

            // Bizga bog'laning
            &_contact {
                max-width: 470px;
                background-color: var(--color-accent-500);
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                border-radius: 16px;
                box-shadow: 10px 10px 10px rgb(0 0 0 / 0.3);

                @include responsive.max(440px) {
                    flex-direction: column-reverse;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}