@use "../../components/details";
@use "../../components/buttons";
@use '../../utilities/responsive';

.course {
    width: 100%;
    overflow: clip;
    
    &__content {
        width: 100%;
        height: 34rem;

        @include responsive.max(60rem) {
            height: 28rem;
        }
    }
    &__header {
        display: none;
        // display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    &__nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: var(--gap-s);

        &--btn {
            @include buttons.default;
            padding: .3rem .6rem;
        }
    }

    &__cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: var(--gap-xl);
        margin: 10px;
        
        @include responsive.max(60rem) {
            gap: var(--gap-l);
        }
        &--card {
            width: 300px;
            border-radius: 16px;
            background-color: var(--color-accent-500);
            margin: 0;
            box-shadow: 10px 10px 10px rgb(0 0 0 / 0.3);

            & h5 {
                margin: 10px;
                text-align: center;
                color: #000;
                @include responsive.max(60rem) {
                    margin: 6px;
                }
            }

            & p {
                text-align: center;
                font-size: 12px;
                margin: 16px;

                @include responsive.max(70rem) {
                    margin: 12px;
                }
                @include responsive.max(60rem) {
                margin: 10px;
                }
            }

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 16px;
            }
        }

        &--img {
            @include details.frame;
            border-radius: 16px;
            aspect-ratio: 1 / 1;
            min-width: 200px;
            margin: 0;
        }

        &--btn {
            @include buttons.default;
        }
    }
}