:root {
  --section-gap: 8rem;
  --section-gap-inner: calc( var(--section-gap) * 0.75);
  --gap-xl: 4rem;
  --gap-l: 3rem;
  --gap-m: 2rem;
  --gap-s: 1rem;
  --border-radius: 0px;
  --color-dark: hsl(0, 0%, 7%);
  --color-dark-200: hsl(0, 0%, 17%);
  --color-dark-300: hsl(0, 0%, 27%);
  --color-dark-500: hwb(0 39% 61% / 0.224);
  --color-dark-600: #78787850;
  --color-dark-700: #7878787e;
  --color-dark-800: hwb(0 67% 33%);
  --color-dark-900: hsl(0, 0%, 77%);
  --color-accent: #c66300;
  --color-accent-200: #009999;
  --color-accent-300: #DBE8C7;
  --color-accent-400: #ffe4c4;
  --color-accent-500: hwb(0 87% 13% / 0.518);
  --color-accent-600: #009fbb;
  --color-accent-700: hwb(189 0% 26%);
  --color-accent-800: #009fbb;
  --color-accent-900: #009fbb;
  --color-accent-900: rgb(0, 160, 189);
  --color-light: hsl(0, 0%, 100%);
  --color-light-200: hsl(0, 0%, 90%);
  --color-light-300: hsl(0, 0%, 80%);
  --color-light-400: hsl(0, 0%, 70%);
  --color-light-500: hsl(0, 0%, 60%);
  --color-light-600: hsl(0, 0%, 50%);
  --color-light-700: hsl(0, 0%, 40%);
  --color-light-800: hsl(0, 0%, 30%);
  --color-light-900: hsl(0, 0%, 20%);
  --font-sans: "Arial", sans-serif;
  --font-serif: "Georgia", serif;
  --line-height: 1.5;
  --font-scale: 1.25;
  --font-size: 1rem;
  --font-size-1: var(--font-size);
  --font-size-2: calc(var(--font-size-1) * var(--font-scale));
  --font-size-3: calc(var(--font-size-2) * var(--font-scale));
  --font-size-4: calc(var(--font-size-3) * var(--font-scale));
  --font-size-5: calc(var(--font-size-4) * var(--font-scale));
  --font-size-6: calc(var(--font-size-5) * var(--font-scale));
  --page-width: 72rem;
  --grid-container: [full-start] minmax(32px, 1fr) [inner-start] minmax(0, var(--page-width)) [inner-end] minmax(32px, 1fr) [full-end];
  --grid-container-hero: [full-start] minmax(2px, 1fr) [inner-start] minmax(0, var(--page-width)) [inner-end] minmax(2px, 1fr) [full-end];
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-accent-400);
}

img {
  max-width: 100%;
}

/* info
@use: link:https://sass-lang.com/documentation/at-rules/use/

@mixin & @include link:https://sass-lang.com/documentation/at-rules/mixin/
                    https://www.w3schools.com/sass/sass_import.php

    ex: @use '../components/buttons';
        @include buttons.default;
*/
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  padding: 20px 20px 0;
}
.form::after {
  content: "";
  display: block;
  height: 2px;
  width: 8rem;
  background-color: var(--color-dark-700);
  translate: -132px -134px;
  transform: rotateZ(90deg);
  margin: var(--gap-s) auto;
}
@media screen and (max-width: 480px) {
  .form {
    padding: 10px;
  }
}
@media screen and (max-width: 440px) {
  .form::after {
    content: "";
    display: block;
    height: 2px;
    width: 8rem;
    background-color: var(--color-dark-700);
    translate: -132px -134px;
    transform: rotateZ(90deg);
    margin: var(--gap-s) auto;
    display: none;
  }
}
.form h5 {
  margin: 0;
  padding: 6px 0;
  color: black;
  text-align: center;
}
.form h5:after {
  content: "";
  display: block;
  height: 2px;
  width: 64px;
  background-color: var(--color-dark-700);
  margin-top: var(--gap-s);
  margin-bottom: var(--gap-s);
  margin: var(--gap-s) auto;
  width: 6rem;
}
@media screen and (max-width: 440px) {
  .form h5 {
    text-align: center;
  }
}
.form input, .form textarea {
  padding: 4px;
  border: 1px solid var(--color-dark-700);
  border-radius: 6px;
  font-size: 11px;
}
.form__subscr {
  font-size: 12px;
}
.form__btn {
  margin: 0;
  background-color: var(--color-accent-300);
  color: var(--color-accent-200);
  padding: 0.3rem 1rem;
  border: 1px solid var(--color-accent-200);
  border-radius: 10px;
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
  background-color: var(--color-accent-300);
  color: var(--color-accent-200);
  transform: translateX(130px);
}
.form__btn:hover {
  background-color: var(--color-accent-200);
  color: var(--color-light-200);
  cursor: pointer;
}
.form__btn:hover {
  background-color: var(--color-accent-200);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 440px) {
  .form__btn {
    transform: translateX(70px);
  }
}

body {
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
  color: var(--color-accent-200);
}

h1 {
  font-size: var(--font-size-6);
}

h2 {
  font-size: var(--font-size-5);
}

h3 {
  font-size: var(--font-size-4);
}

h4 {
  font-size: var(--font-size-3);
}

h5 {
  font-size: var(--font-size-2);
}

h6 {
  font-size: var(--font-size-1);
}

p {
  line-height: var(--line-height);
}

a {
  color: var(--color-dark);
  text-decoration: none;
  font-weight: 700;
  line-height: var(--color-accent-200);
}
a:hover {
  color: var(--color-light);
}

li {
  line-height: var(--line-height);
}

.isShowBtn {
  opacity: 1;
  transition: 0.7s;
}

.isShowBtn_hide {
  opacity: 0;
}

#scroll_top {
  background: var(--color-accent-200);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 30px;
  bottom: 30px;
  width: 38px;
  height: 48px;
  border: 3px solid var(--color-accent-500);
  border-radius: 20%;
  font-size: 20px;
  z-index: 11;
  animation: action 1s infinite alternate;
}
#scroll_top:hover {
  color: var(--color-light-200);
}

@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}
.social {
  max-width: 200px;
  gap: var(--gap-m);
}
.social h5 {
  margin: 24px 0 10px 24px;
  color: black;
  text-align: start;
}
.social h5:after {
  content: "";
  display: block;
  height: 2px;
  width: 64px;
  background-color: var(--color-dark-700);
  margin-top: var(--gap-s);
  margin-bottom: var(--gap-s);
}
@media screen and (max-width: 480px) {
  .social h5 {
    margin: 16px;
  }
}
@media screen and (max-width: 440px) {
  .social h5 {
    display: none;
  }
}
.social__content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 10px;
}
@media screen and (max-width: 440px) {
  .social__content {
    flex-direction: row;
  }
}
.social__link {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: var(--gap-s);
  margin: 4px 16px;
}
@media screen and (max-width: 480px) {
  .social__link {
    margin: 10px;
  }
}
.social__link:hover {
  color: rgb(0, 136, 204);
}
.social__link i {
  font-size: 28px;
}
@media screen and (max-width: 480px) {
  .social__link i {
    font-size: 24px;
  }
}
.social__link i.fa-square-instagram:hover {
  color: #fff;
}
.social__link p {
  margin: 4px 0 0 0;
}
@media screen and (max-width: 480px) {
  .social__link p {
    font-size: 14px;
  }
}
@media screen and (max-width: 440px) {
  .social__link p {
    display: none;
    margin: 6px;
  }
}

.header, .hero, .course,
.mavzu, .about, .footer {
  display: grid;
  grid-template-columns: var(--grid-container);
}

.header__inner, .hero__inner,
.course__inner, .mavzu__inner,
.about__inner, .footer__inner {
  grid-column: inner;
}

.none {
  display: none;
}

.header {
  position: fixed;
  background: var(--color-dark-600);
  backdrop-filter: blur(4px);
  height: 100px;
  width: 100%;
  z-index: 999;
}
.header__inner {
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.header__srch {
  width: fit-content;
  height: fit-content;
  position: relative;
  margin-top: 30px;
}
@media screen and (max-width: 40rem) {
  .header__srch {
    display: none;
  }
}
.header__srch--btn {
  width: 40px;
  height: 40px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: var(--color-accent-200);
  background-color: transparent;
  pointer-events: painted;
}
.header__srch--btn:focus ~ .header__srch--input {
  width: 200px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid var(--color-accent-200);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.header__srch--input {
  height: 40px;
  width: 40px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 30px;
  transition: all 0.5s ease-in-out;
  background-color: var(--color-dark-500);
  padding-right: 20px;
  color: var(--color-accent-500);
}
.header__srch--input::placeholder {
  color: var(--color-accent-500);
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 100;
}
.header__srch--input:focus {
  width: 200px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid var(--color-accent-200);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.header__content {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: var(--gap-l);
}
@media screen and (max-width: 40rem) {
  .header__content {
    gap: var(--gap-s);
  }
}
.header__item--buttom .header__link {
  margin: 0;
  background-color: var(--color-accent-300);
  color: var(--color-accent-200);
  padding: 0.3rem 1rem;
  border: 1px solid var(--color-accent-200);
  border-radius: 10px;
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem 1.2rem;
  background-color: var(--color-accent-200);
  color: var(--color-dark-200);
  transition: all 0.2s;
}
.header__item--buttom .header__link:hover {
  background-color: var(--color-accent-200);
  color: var(--color-light-200);
  cursor: pointer;
}
.header__item--buttom .header__link:hover {
  background-color: var(--color-accent);
  border: 1px solid var(--color-accent);
}
@media screen and (max-width: 340px) {
  .header__item--buttom .header__link {
    padding: 0.3rem 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .menu {
    display: none;
  }
}
.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: var(--gap-s);
}
.menu__link {
  color: var(--color-accent-200);
}
.menu__link:hover {
  color: var(--color-accent);
}
.menu__button {
  display: none;
  height: 26px;
  width: 26px;
  position: relative;
  background: none;
  padding: 0;
  border: 0;
  border-radius: 0;
}
@media screen and (max-width: 1024px) {
  .menu__button {
    display: block;
  }
}
.menu__button--close .menu__button--hamburger {
  transition: transform 0.2s 0.2s;
  transform: rotate(45deg) translate(-50%, -50%);
}
.menu__button--close .menu__button--hamburger:before {
  transition: top 0.2s, transform 0.2s 0.2s;
  transform: rotate(90deg);
  top: 0;
}
.menu__button--close .menu__button--hamburger:after {
  transition: width 0.2s;
  width: 0;
}
.menu__button--hamburger {
  transform-origin: left top;
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 50%;
  transition: transform 0.2s;
  transform: translate(-50%, -50%) rotate(0);
  background-color: var(--color-accent-200);
}
.menu__button--hamburger:before, .menu__button--hamburger:after {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  height: 2px;
  width: 100%;
  background-color: inherit;
}
.menu__button--hamburger:before {
  transition: top 0.2s 0.2s, transform 0.2s;
}
.menu__button--hamburger:after {
  top: 8px;
  width: 70%;
  transition: width 0.2s 0.2s;
}

.site-menu {
  backdrop-filter: blur(8px);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.site-menu--visible {
  opacity: 1;
  visibility: visible;
}
.site-menu--visible .site-menu__inner {
  opacity: 1;
  transform: translateY(50px);
  transition: transform 0.5s, opacity 0.7s;
}
.site-menu__inner {
  grid: inner;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  transform: translateY(200px);
  opacity: 0;
}
.site-menu__list {
  margin: var(--section-gap-inner) 0 0 0;
  padding: 0;
  list-style: none;
}
.site-menu__list::after {
  content: url("assets/icons/icon-divider.svg");
  display: block;
  margin-top: var(--gap-s);
}
.site-menu__link {
  color: var(--color-accent-200);
  font-size: var(--font-size-4);
  transition: color 0.2s;
}
.site-menu__link:hover {
  color: var(--color-accent);
}
.site-menu__contact p {
  color: var(--color-light-600);
  font-size: 12px;
}

.footer {
  height: 70px;
  background-color: var(--color-accent-200);
}
.footer__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__inner p {
  color: var(--color-accent-500);
  font-size: 12px;
}

.hero {
  min-height: 100vh;
  background: url(assets/images/bg.jpg);
  background-size: cover;
  background-position: center center;
}
@media screen and (max-width: 540px) {
  .hero {
    background-position-x: 60%;
  }
}
@media screen and (max-width: 400px) {
  .hero {
    background-position-x: 70%;
  }
}
@media screen and (max-width: 320px) {
  .hero {
    grid-template-columns: var(--grid-container-hero);
  }
}
.hero__inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
}
.hero__content {
  background: var(--color-dark-500);
  max-width: 600px;
  max-height: 400px;
  border-radius: 32px;
}
@media screen and (max-width: 540px) {
  .hero__content {
    transform: translateY(100px);
  }
}
.hero__content--title {
  font-size: clamp(2.4rem, 7vw, 7rem);
  margin: 24px;
  text-align: end;
}
.hero__content--title span {
  color: var(--color-accent);
}
.hero__content--dscr {
  font-size: clamp(0.8rem, 2.9vw, 1.5rem);
  margin: 0 24px 24px;
  text-align: end;
}

.course {
  width: 100%;
  overflow: clip;
}
.course__content {
  width: 100%;
  height: 34rem;
}
@media screen and (max-width: 60rem) {
  .course__content {
    height: 28rem;
  }
}
.course__header {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.course__nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--gap-s);
}
.course__nav--btn {
  margin: 0;
  background-color: var(--color-accent-300);
  color: var(--color-accent-200);
  padding: 0.3rem 1rem;
  border: 1px solid var(--color-accent-200);
  border-radius: 10px;
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
  padding: 0.3rem 0.6rem;
}
.course__nav--btn:hover {
  background-color: var(--color-accent-200);
  color: var(--color-light-200);
  cursor: pointer;
}
.course__cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--gap-xl);
  margin: 10px;
}
@media screen and (max-width: 60rem) {
  .course__cards {
    gap: var(--gap-l);
  }
}
.course__cards--card {
  width: 300px;
  border-radius: 16px;
  background-color: var(--color-accent-500);
  margin: 0;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}
.course__cards--card h5 {
  margin: 10px;
  text-align: center;
  color: #000;
}
@media screen and (max-width: 60rem) {
  .course__cards--card h5 {
    margin: 6px;
  }
}
.course__cards--card p {
  text-align: center;
  font-size: 12px;
  margin: 16px;
}
@media screen and (max-width: 70rem) {
  .course__cards--card p {
    margin: 12px;
  }
}
@media screen and (max-width: 60rem) {
  .course__cards--card p {
    margin: 10px;
  }
}
.course__cards--card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.course__cards--img {
  position: relative;
  border-radius: 16px;
  aspect-ratio: 1/1;
  min-width: 200px;
  margin: 0;
}
.course__cards--img::after {
  content: "";
  position: absolute;
  display: block;
  border: 1px solid var(--color-light);
  border-radius: 16px;
  top: 12px;
  bottom: 12px;
  left: 12px;
  right: 12px;
  opacity: 0.34;
}
.course__cards--btn {
  margin: 0;
  background-color: var(--color-accent-300);
  color: var(--color-accent-200);
  padding: 0.3rem 1rem;
  border: 1px solid var(--color-accent-200);
  border-radius: 10px;
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
}
.course__cards--btn:hover {
  background-color: var(--color-accent-200);
  color: var(--color-light-200);
  cursor: pointer;
}

.mavzu {
  width: 100%;
  min-height: 56rem;
  background-color: var(--color-accent-300);
}
.mavzu__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mavzu__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
@media screen and (max-width: 815px) {
  .mavzu__header h2 {
    margin: 10px;
  }
}
.mavzu__nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--gap-s);
}
@media screen and (max-width: 815px) {
  .mavzu__nav {
    display: none;
  }
}
.mavzu__nav--btn {
  margin: 0;
  background-color: var(--color-accent-300);
  color: var(--color-accent-200);
  padding: 0.3rem 1rem;
  border: 1px solid var(--color-accent-200);
  border-radius: 10px;
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
  margin: 0;
  padding: 0.3rem 0.7rem;
  background-color: var(--color-accent-400);
  font-size: 14px;
  color: var(--color-accent-200);
}
.mavzu__nav--btn:hover {
  background-color: var(--color-accent-200);
  color: var(--color-light-200);
  cursor: pointer;
}
.mavzu__nav--btn:hover {
  background-color: var(--color-accent-200);
  border: 1px solid var(--color-accent-200);
}
.mavzu__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--gap-m);
  margin: 20px;
}
.mavzu__cards--card {
  width: 340px;
  border-radius: 16px;
  background-color: var(--color-accent-500);
  margin: 0;
  box-shadow: 8px 12px 16px rgba(0, 0, 0, 0.4);
  position: relative;
}
@media screen and (max-width: 815px) {
  .mavzu__cards--card {
    width: 260px;
  }
}
@media screen and (max-width: 655px) {
  .mavzu__cards--card {
    width: 360px;
  }
}
.mavzu__cards--card h5 {
  margin: 0;
  padding: 8px;
  text-align: start;
  position: absolute;
  top: 9rem;
  left: 24px;
  background: var(--color-accent-300);
  color: var(--color-dark-200);
  border-radius: 6px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 815px) {
  .mavzu__cards--card h5 {
    top: 6.5rem;
  }
}
@media screen and (max-width: 655px) {
  .mavzu__cards--card h5 {
    top: 9.5rem;
  }
}
.mavzu__cards--card p {
  position: relative;
  text-align: start;
  font-size: 12px;
  margin: 16px;
}
.mavzu__cards--card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.mavzu__cards--img {
  border-radius: 16px;
  aspect-ratio: 2/1;
  min-width: 200px;
  margin: 0;
}
.mavzu__cards--btn {
  margin: 0;
  background-color: var(--color-accent-300);
  color: var(--color-accent-200);
  padding: 0.3rem 1rem;
  border: 1px solid var(--color-accent-200);
  border-radius: 10px;
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
  background-color: var(--color-accent-400);
  color: var(--color-accent-200);
  transform: translateX(220px);
}
.mavzu__cards--btn:hover {
  background-color: var(--color-accent-200);
  color: var(--color-light-200);
  cursor: pointer;
}
@media screen and (max-width: 815px) {
  .mavzu__cards--btn {
    transform: translateX(140px);
  }
}
@media screen and (max-width: 655px) {
  .mavzu__cards--btn {
    transform: translateX(240px);
  }
}
.mavzu__cards--btn:hover {
  background-color: var(--color-accent-200);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

.about {
  width: 100%;
  min-height: 500px;
  margin-bottom: 40px;
}
.about__header {
  margin: 2rem 0 0 0;
  text-align: center;
}
.about__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-m);
}
@media screen and (max-width: 56rem) {
  .about__content {
    flex-direction: column;
  }
}
.about__content--card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.about__content--card_title {
  margin: 20px;
  color: black;
}
.about__content--card_title:after {
  content: "";
  display: block;
  height: 2px;
  width: 64px;
  background-color: var(--color-dark-700);
  margin-top: var(--gap-s);
  margin-bottom: var(--gap-s);
  margin: var(--gap-s) auto;
  width: 6rem;
}
.about__content--card_manhaj {
  max-width: 470px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.about__content--card_manhaj-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 12px;
}
@media screen and (max-width: 56rem) {
  .about__content--card_manhaj-item {
    margin: 4px;
  }
}
.about__content--card_manhaj-item i {
  font-size: 2rem;
  margin: 10px;
}
.about__content--card_manhaj-item p {
  font-size: 14px;
  margin: 0px;
  padding-left: 10px;
}
.about__content--card_contact {
  max-width: 470px;
  background-color: var(--color-accent-500);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 16px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 440px) {
  .about__content--card_contact {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
