// Line
@mixin separator($align: left, $margin: var(--gap-s)) {
  &:after {
    content: "";
    display: block;
    height: 2px;
    width: 64px;
    background-color: var(--color-dark-700);
    margin-top: $margin;
    margin-bottom: $margin;

    @if $align == center {
      margin: $margin auto;
      width: 6rem;
    }
  }
}
// Line-ver
@mixin separator-ver($align: left, $margin: var(--gap-s)) {
  &::after {
    content: "";
    display: block;
    height: 2px;
    width: 8rem;
    background-color: var(--color-dark-700);
    translate: -132px -134px;
    transform: rotateZ(90deg);
    margin: $margin auto;

    @if $align == center {
      display: none;
    }
  }
}

// Dots
@mixin separatorDots() {
  &::after {
    content: url("assets/icons/icon-divider.svg");
    display: block;
    margin-top: var(--gap-s);
  }
}

// square
@mixin frame($color: var(--color-light), $margin: 12px) {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    border: 1px solid $color;
    border-radius: 16px;
    top: $margin;
    bottom: $margin;
    left: $margin;
    right: $margin;
    opacity: 0.34;
  }
}
