@use "../components/details";
@use "../components/buttons";
@use '../utilities/responsive';

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    padding: 20px 20px 0;

    @include details.separator-ver($align: left);

    @include responsive.max(480px) {
        padding: 10px;
    }
    @include responsive.max(440px) {
        @include details.separator-ver($align: center);
    }

    & h5 {
        margin: 0;
        padding: 6px 0;
        color:black;
        text-align: center;

        @include details.separator($align: center);

        @include responsive.max(440px) {
            text-align: center;
        }
    }

    & input, textarea {
        padding: 4px;
        border: 1px solid var(--color-dark-700);
        border-radius: 6px;
        font-size: 11px;
    }

    &__subscr {
        font-size: 12px;
    }

    &__btn {
        @include buttons.default;
        background-color: var(--color-accent-300);
        color: var(--color-accent-200);
        transform: translateX(130px);
        &:hover {
            background-color: var(--color-accent-200);
            box-shadow: 4px 4px 6px rgb(0 0 0 / 0.4);
        }

        @include responsive.max(440px) {
            transform: translateX(70px);
        }
    }
}