@use "../components/details";
@use '../utilities/responsive';

.social {
    max-width: 200px;
    gap: var(--gap-m);

    & h5 {
        margin: 24px 0 10px 24px;
        // padding: 20px 0 0 20px;
        color:black;
        text-align: start;

        @include details.separator($align: left);

        @include responsive.max(480px) {
            margin: 16px;
        }
        
        @include responsive.max(440px) {
            display: none;
        }     
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin: 10px;
        
        @include responsive.max(440px) {
            flex-direction: row;
        }
    }

    &__link {
        display: flex;
        flex-direction: row;
        justify-content: start;
        gap: var(--gap-s);
        margin: 4px 16px;
        
        @include responsive.max(480px) {
            margin: 10px;
        }

        &:hover {
            color: rgb(0, 136, 204);
        }
    
        & i {
            font-size: 28px;

            @include responsive.max(480px) {
                font-size: 24px;
            }
            &.fa-square-instagram {
                &:hover {
                    color: #fff;
                }
            }
        }
    
        & p {
            margin: 4px 0 0 0;
            @include responsive.max(480px) {
                font-size: 14px;
            }

            @include responsive.max(440px) {
                display: none;
                margin: 6px;
            }
        }
    }
}
