body {
    font-family: var(--font-sans);

}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
    color:var( --color-accent-200);
}

h1 {
    font-size: var(--font-size-6);
}

h2 {
    font-size: var(--font-size-5);
}

h3 {
    font-size: var(--font-size-4);
}

h4 {
    font-size: var(--font-size-3);
}

h5 {
    font-size: var(--font-size-2);
}

h6 {
    font-size: var(--font-size-1);
}

p {
    line-height: var(--line-height);
}


a {
    color: var(--color-dark);
    text-decoration: none;
    font-weight: 700;
    line-height: var(--color-accent-200);
    &:hover {
        color: var(--color-light);
    }
}

li {
    line-height: var(--line-height);
}

// Scloll Up
.isShowBtn {
    opacity: 1;
    transition: 0.7s;
  }
  .isShowBtn_hide {
    opacity: 0;
  }

#scroll_top {
    background: var(--color-accent-200);
    // color: #fff;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 30px;
    bottom: 30px;
    width: 38px;
    height: 48px;
    border: 3px solid var(--color-accent-500);
    border-radius: 20%;
    font-size: 20px;
    z-index: 11;
    animation: action 1s infinite alternate;

    &:hover {
        color: var(--color-light-200);;
    }
  }
  
@keyframes action {
0% {
    transform: translateY(0);
}
100% {
    transform: translateY(-15px);
}
}