.footer {
    height: 70px;
    background-color: var(--color-accent-200);
    
    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        & p {
            color: var(--color-accent-500);
            font-size: 12px;
        }
    }
}